h2 Search for show
.form-inline
    .form-group
        input#search-input.form-control(name="search" ,type="text",autocomplete="off",autocorrect="off",autocapitalize="off",spellcheck="false")
    button#search-button.btn.btn-primary search


#results
