h2 Queries
table.table.table-striped
    thead
        tr
            th Date
            th Blocked ?
            th Type
            th Requested Domain
            th Requesting Client
            th Answer Type
    tbody#queries