h1 PiHole Stats
.row
    .col-xs-6.ads-blocked
        p
        h3 Ads blocked Today
    .col-xs-6.dns-queries
        p
        h3 DNS Queries Today
.row
    .col-xs-6.ads-percentage
        p
        h3 Of Today's Traffic Is Ads
    .col-xs-6.domains-blocked
        p
        h3 Domains Being Blocked