h2 Containers
.table-responsive
    table.table.containers.table-striped.table-hover
        thead
            tr
                th Id
                th Names
                th Status
                th Memory
                th
        tbody
            tr
                td(colspan="5") Loading...

include ./docker-modal