#container-logs-modal.modal.fade(tabindex="-1", role="dialog")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria=hidden="true") &times;
                h4.modal-title
            .modal-body
                textarea.logs
