.form-group
    p Select network interface
    each val, index in model
        .radio
            label
                if(settings && settings.containsKey("network-interface") && settings.get("network-interface").equalsIgnoreCase(index))
                    input(type="radio", name="network-interface", value="#{index}", checked="true")
                else
                    input(type="radio", name="network-interface", value="#{index}")
                | #{index} - #{val}
