.overlay Router not available
p
    button.btn.add
        i.fa.fa-plus
        | Add port
p.ip
p.router
.table-responsive
    table.table.table-condensed
        thead
            tr
                th Name
                th Protocol
                th External Port
                th Internal Port
                th Client
                th
        tbody



include ./modal.jade
