extends ./layout.jade
block css

block content
    .head-links
        a(href="/") << Back
    h1 Add module
    h2 Add remote module
    div
        p You can add a module from a remote instance of HomeDash
        .add-button
            a.btn.btn-primary(href="/add-remote") Add remote
    h2 Select module to add
    .row
        .col-md-12
            for plugin in plugins
                h3 #{plugin.getDisplayName()}
                p #{plugin.getDescription()}
                .add-button
                    a(href="/add-module/#{plugin.getClass().getCanonicalName()}", class="btn btn-primary") Add #{plugin.getDisplayName()}
                hr
    if STATIC_CONFIG
        script(type="text/javascript").
            window.onload = function(){
                $('.static-warning').show();
            }
block scripts
    
