extends ./layout.jade
block css

block content
    h1 Select module to add
    .row
        .col-md-12
        for plugin in plugins
            h2 #{plugin.getDisplayName()}
            p #{plugin.getDescription()}
            .add-button
                a(href="/add-module/#{plugin.getClass().getCanonicalName()}", class="btn btn-primary") Add #{plugin.getDisplayName()}
block scripts
    
