doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name="viewport")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="white")
        title HomeDash
        //link(href="http://fonts.googleapis.com/css?family=Roboto:300,300italic", rel="stylesheet", type="text/css")
        link(href='/css/main.css', rel='stylesheet')
        //link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
        //script(type="text/javascript", src="/js/ios-script.js")

        include ./web-app-settings.jade

        block css
    body
        #notification
            .icon
            .message

        #overlay
            p.smiley :(
            p.message Can't connect to the server
            p
                button.reload-page.btn.btn-primary Reload

        #pages
            div.icons
                a.close-panel
                    h1   Boards
                a.add
                    i.fa.fa-plus
                a.edit
                    i.fa.fa-pencil
            ul
        .container
            block content
        .modal-dump
        script(src="/js/vendor/jquery/jquery-3.2.1.min.js")
        script(src="/js/vendor/bootstrap/bootstrap.min.js")
        block scripts
