extends ./layout.jade

block css
    link(href='/css/layout-settings.css', rel='stylesheet')

block content
    .head-links
        a(href="/") << Back
    h1
        | Layout Settings
        a(href="/settings") Settings

    p Here you can create new layouts to fit your devices the best

    for layout in layouts
        .layout.row(data-id="#{layout.getId()}")
            .layout-display.col-sm-8(data-max="#{layout.getMaxGridWidth()}")

            .layout-name.col-sm-4
                p
                    strong.name #{layout.getName()}&nbsp;
                    if layouts.size() > 1
                        a(class="rename")
                            button.btn.btn-xs.btn-primary
                                i.fa.fa-pencil
                        a(class="delete")
                            button.btn.btn-xs.btn-primary
                                i.fa.fa-times

                p
                    | Grid Width:&nbsp;
                    span.grid-width
                p
                    | Min. window width:&nbsp;
                    span.screen-width
                p
                    a(class="remove")
                        button.btn.btn-primary
                            i.fa.fa-minus
                    a(class="add")
                        button.btn.btn-primary
                            i.fa.fa-plus
        hr

    button#add-layout.btn.btn-primary
        i.fa.fa-plus
        | Add layout

    if STATIC_CONFIG
        script(type="text/javascript").
            window.onload = function(){
                $('.static-warning').show();
            }



block scripts
    script(src="/js/layout-settings.js")

