extends ./layout.jade
block css
    link(href='/css/login.css', rel='stylesheet')
block content
    h1 Homedash

    h2 Login
    hr

    if error
        .alert.alert-danger
            | Wrong username\password

    form(method="post")
        .form-group
            label(for="username") Username
            input.form-control(type="text", name="username", id="username")
        .form-group
            label(for="password") Password
            input.form-control(type="password", name="password", id="password")
        button.btn.btn-primary(type="submit") Login