link(rel="apple-touch-icon", sizes="20x20", href="/images/ios/Icon-App-20x20@1x.png")
link(rel="apple-touch-icon", sizes="40x40", href="/images/ios/Icon-App-20x20@2x.png")
link(rel="apple-touch-icon", sizes="60x60", href="/images/ios/Icon-App-20x20@3x.png")
link(rel="apple-touch-icon", sizes="29x29", href="/images/ios/Icon-App-29x29@1x.png")
link(rel="apple-touch-icon", sizes="58x58", href="/images/ios/Icon-App-29x29@2x.png")
link(rel="apple-touch-icon", sizes="87x87", href="/images/ios/Icon-App-29x29@3x.png")
link(rel="apple-touch-icon", sizes="40x40", href="/images/ios/Icon-App-40x40@1x.png")
link(rel="apple-touch-icon", sizes="80x80", href="/images/ios/Icon-App-40x40@2x.png")
link(rel="apple-touch-icon", sizes="120x120", href="/images/ios/Icon-App-40x40@3x.png")
link(rel="apple-touch-icon", sizes="57x57", href="/images/ios/Icon-App-57x57@1x.png")
link(rel="apple-touch-icon", sizes="114x114", href="/images/ios/Icon-App-57x57@2x.png")
link(rel="apple-touch-icon", sizes="60x60", href="/images/ios/Icon-App-60x60@1x.png")
link(rel="apple-touch-icon", sizes="120x120", href="/images/ios/Icon-App-60x60@2x.png")
link(rel="apple-touch-icon", sizes="180x180", href="/images/ios/Icon-App-60x60@3x.png")
link(rel="apple-touch-icon", sizes="72x72", href="/images/ios/Icon-App-72x72@1x.png")
link(rel="apple-touch-icon", sizes="144x144", href="/images/ios/Icon-App-72x72@2x.png")
link(rel="apple-touch-icon", sizes="76x76",href="/images/ios/Icon-App-76x76@1x.png")
link(rel="apple-touch-icon", sizes="152x152",href="/images/ios/Icon-App-76x76@2x.png")
link(rel="apple-touch-icon", sizes="167x167", href="/images/ios/Icon-App-83.5x83.5@2x.png")
link(rel="apple-touch-icon", sizes="50x50", href="/images/ios/Icon-App-50x50@1x.png")
link(rel="apple-touch-icon", sizes="100x100", href="/images/ios/Icon-App-50x50@2x.png")