.googlepubliccalendar-modal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                    span(aria-hidden="true") &times;
                    span(class="sr-only") Close
                h4.modal-title.event-title
                p.event-date
            .modal-body.text-wrapping.description
