svg.icon(version="1.1", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 100 100", preserveAspectRation="true")
    defs
        linearGradient(id = "plex-gradient", x1="0%", y1="0%", x2="0%", y2="100%")
            stop(offset="0%", style="stop-color:rgb(206,125,1);stop-opacity:1")
            stop(offset="50%", style="stop-color:rgb(250,190,0);stop-opacity:1")
            stop(offset="100%", style="stop-color:rgb(206,125,1);stop-opacity:1")
    polygon(points="25 10, 50, 10, 75 50, 50 90, 25 90, 50 50")