include ./graph
.net-info
    h3.interface-name
    .row
        .col-xs-6
            h4 Download
            p.down-txt 0
            p
                span.title Total:
                span.down-total-txt 0
        .col-xs-6
            h4 Upload
            p.up-txt 0
            p
                span.title Total:
                span.up-total-txt 0