.module-overlay Transmission is not available at the moment

p
    button.btn.btn-success.add
        i.fa.fa-plus
        | &nbsp;Add torrent
    button.btn.alt
        i.fa.fa-sort-amount-asc
        | &nbsp;Alternate Speeds
    button.btn.multiple-select-btn
        i.fa.fa-list
        | &nbsp;Select multiple

.torrent-list

h5 Global
    p.global
        strong Download:
        span.dl
        strong Upload
        span.ul


.selection
    p
        span.torrent-count 0
        | &nbsp;torrent(s)
        button.btn.btn-primary.pause-torrent-multiple
            i.fa.fa-pause
            | &nbsp;Pause
        button.btn.btn-danger.remove-torrent-multiple
            i.fa.fa-times
            | &nbsp;Remove
//modal
.modal.fade(tabindex="-1", id="modal", rolw="dialog")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(data-dismiss="modal")
                    span(aria-hidden="true") &times;
                h4.modal-title Torrent actions
            .modal-body
                p
                    button.btn.btn-primary.pause-torrent
                        i.fa.fa-pause
                        | &nbsp;Pause/Resume torrent
                    button.btn.btn-danger.remove-torrent
                        i.fa.fa-times
                        | &nbsp;Remove torrent
