h4 Transmission
.transmission-content
    .module-overlay
        p Transmission is not available at the moment
    .info.torrents
        p Torrents
        p.count

    .info.download
        p
            | Dl:
            span.dl
        p
            | Ul:
            span.ul

    p.actions
        button.btn.add
            i.fa.fa-plus
        button.btn.alt
            i.fa.fa-sort-amount-asc