h4 Transmission
.transmission-content
    .module-overlay
        p Transmission is not available at the moment
    .info.torrents
        p Torrents
        p.count
    .info.upload
        p Upload
        p.ul
    .info.download
        p Download
        p.dl
    p.actions
        button.btn.add
            span.glyphicon.glyphicon-plus
        button.btn.alt
            span.glyphicon.glyphicon-sort-by-attributes