h2 Info
p
    strong Mount:
    span.mount
.progress
    .progress-bar(role="progressbar", style="width:0%")
        span.sr-only.text

h2 Browse
p
    button.btn.btn-default#new-folder New folder
    button.btn.btn-success#upload-file Upload file
    input#file-input(type="file")
p
    | Current path:&nbsp;
    span.current-path
table.files.table.table-striped.table-hover
    tbody

table.clipboard.table.table-condensed
    tbody