h2 Info
p
    strong Mount:
    span.mount
.progress
    .progress-bar(role="progressbar", style="width:0%")
        span.sr-only.text

h2 Browse
p.current-path
table.files.table.table-striped.table-hover
    tbody

.clipboard