.form-group
    p Select mount point
    each val, index in model
        .radio
            label
                if(settings && settings.containsKey("mount") && settings.get("mount").equalsIgnoreCase(index))
                    input(type="radio", name="mount", value="#{index}", checked="true")
                else
                    input(type="radio", name="mount", value="#{index}")
                | #{index}
