.form-group
    p Select mount point
    each val, index in model
        .radio
            label
                if(settings && settings.containsKey("uuid") && settings.get("uuid").equalsIgnoreCase(val.getUuid()))
                    input(type="radio", name="uuid", value="#{index}", checked="true")
                else
                    input(type="radio", name="uuid", value="#{index}")
                | #{val.getMountPoint()}
