.modal.fade.mma-modal(tabindex="-1", role="dialog", aria-labelledby="mySmallModalLabel" ,aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                    span &times;
                h4.modal-title ...

            .modal-body
