h3.site
p
    i.fa.fa-arrow-up
    | &nbsp;
    span.up.speed
    | &nbsp;
    span.unit
p
    i.fa.fa-arrow-down
    | &nbsp;
    span.down.speed
    | &nbsp;
    span.unit
p
    i.fa.fa-tachometer
    | &nbsp;
    span.latency
    | &nbsp;
    span.ms ms
